.App {
  text-align: center;
  background: black;
  height: 100vh;
}
.header {
  background: rgb(43, 155, 214);
  min-width: 80%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.main {
  background: rgb(119, 124, 125);
  height: 50vh;
  width: 50vw;
  float: none;
  margin: auto;
  text-align: left;
  padding: 20px;
}
.introduction {
  flex-direction: column;
  height: 20%;
  width: 100%;

  display: block;
  position: relative;
}
.home,
.directory {
  border: none;
  background: rgb(43, 155, 214);
}
.pageCounter {
  float: right;
  position: relative;
}
.from,
.funFact {
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: auto;
}
.cityOrCountry,
.indoorsOrOutdoors,
.travel,
.topsOrSubway,
.dogOrCat {
  margin-left: 5vw;
  text-align: left;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.buttons {
  align-items: center;
  justify-content: center;
}
.next {
  margin-left: 15vw;
}
.previous {
  margin-right: 15vw;
}
.delete,
.add,
.edit {
  height: 5vh;
  width: 5vw;
  color: black;
  position: relative;
  background-color: skyblue;
}
.appLoading {
  width: 50%;
  height: 50%;
}
